/* difficulties i had
- the percentage calculation for headers for some reason */
/* presentation idea

blog model and quote section
    - didnt set as background image because the image i extracted should just be the exact size so i didnt want to alter it wiht background position

    - blockquote section- wanted to set height the same as the model section without using a pixel value because i noticed that the value changes as i play aroud with the margin size
    
    - soulutio nwas to wrap the 2 sections in a container
    - set container to pos rel and quote section to pos ab and strech to fill 100% height with its posiitoning

The general idea is that an element with position: absolute;
will position against the nearest parent element that has position: relative;
. You then stretch a column to fill 100% height by assigning both a top: 0px;
and bottom: 0px;
(or whatever pixels/percentages you actually need.) Here's an example:


somethign else i learned is to not thikn too hard bbout class names until needed - spent unnecessary amt of time thiking up class nnames 

timing was a big of a crunch - but it defiintely trained my working under pressure skill

added pixel value max width as well as a percentage value width*/



/* HOMEPAGE */
/* HOME header */
* {
    /* border: 1px solid red; */
}
html {
    font-size: 10px;
}

a {
    display: block;
    text-decoration: none;
}

aside {
    visibility: hidden;
    width: 23%;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

::-webkit-input-placeholder {
   font-size: 1.3rem;
   font-family: 'Dosis', serif;
   text-transform: capitalize;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

:-ms-input-placeholder {
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

.domine {
    font-family: 'Domine', serif;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    background: #f1f1f1;
}

header {
    text-align: center;
    line-height: 1.5;
    /* background: lightgrey; */
    padding: 10px 0;
}

.main-header h2 {
    width: calc(26% - 40px);
    float: left;
    /* margin: 0 80px 0 0; */
    text-transform: capitalize;
    font-size: 3.4rem;
}

.main-header nav {
    width: calc(44%);
    float: left;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin: 0 40px 0 20px;
    /* text-align: center; */
    /* margin: 10px; */
}

.main-header ul li {
    float: left;
    /* margin: 0 8px; */
    text-align: center;
    width: calc((100% / 6) - 2px);
    margin: 15px 1px 0 1px;
    /* margin-top: 15px; */
}

.main-header ul li:hover {
    color: #ff4658;
}

.search {
    width: calc(30% - 20px);
    float: right;
    margin-top: 5px;
    /* object-fit: cover; */
    /* clear: both; */
    /* padding: 0; */
    /* margin: 0 0 0 80px; */
}

.search input {
    float: left;
    font-size: 1.3rem;
    padding: 10px 20px;
    width: 80%;
    /* margin: 0; */
}

.search::-moz-placeholder,
.search::-webkit-input-placeholder {
    font-family: 'Dosis', sans-serif;
}

.search button {
    float: left;
    width: 20%;
    min-height: 39px;
    background: #ff4658;
    /* padding: 5px; */
    /* object-fit: cover; */
}

.fa-search {
    font-size: 1.5rem;
    color: white;
}


/* MAIN START */
/* main {
    visibility: hidden;
} */
 /* HOME HERO*/
 .hero {
     visibility: visible;
     background: url(assets/home-hero.jpg) top no-repeat;
     background-size: cover;
     width: 100%; 
     height: 450px;
     margin-bottom: 80px;;
     /* overflow: hidden; */

 }

 .hero h3 {
    font-size: 1.3rem;
    color: #f7e41e;
    text-transform: uppercase;
    float: left;
    margin: 8px 30px 20px 0;
 }
 
 .hero h1 {
    font-size: 2.7rem;
    width: 60%;
    color: white;
    clear:both
     /* text-transform: capitalize; */
 }

 .hero-txt {
     position: relative;
     top: 45%;
 }

 .fa-angle-left,
 .fa-angle-right {
     display: block;
     float: left;
     font-size: 2.7rem;
     color: white;
     margin-right: 5px;
 }

 .fa-angle-left:hover,
 .fa-angle-right:hover {
     color: grey;
 }
 .hero-feedback {
     position: relative;
     top: 52%;
 }

 .like,
 .comment {
     float: left;
     margin-right: 30px;
     font-size: 1.3rem;
     color: white;
 }

 .fa-heart-o,
 .fa-commenting-o {
     margin-right: 5px;
     color: #ff4658;
     font-size: 1.4rem;
 }

 .fa-heart-o:hover,
 .fa-commenting-o:hover {
     color: white;
 }
 /* HERO FINISHES */

.recent {
    visibility: visible;
    width: 27%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    /* margin-bottom: 50px; */
    margin: 50px auto;
}

.recent p a {
    float: left;
}

.recent a:hover {
    color: #b0b0b0;
}
/* .recent p:first-child {
    text-decoration: wavy;
} */
.recent .squiggle {
    position: absolute;
    left: 16%;
    bottom: -30px;
}

.squiggle {
    width: 43px;
}
.recent p:last-child {
    float: right;
}

/* .recent p:first-child {
    margin-right: 10px;
} */
 
 /* MAIN BLOG */
 /* TRAVEL */
 /* .blog {
     visibility: visible;
     width: 74%;
     float: left;
 }

 .blog-travel img {
    width: 100%;
 } */

 

 /* .blog img {
     width: 100%;
 } */

 img {
     width: 100%;
 } 
 
 .blog {
     /* visibility: visible; */
     width: 74%;
     float: left;
 }

 .blog-travel,
 .blog-clash,
 .blog-nature {
     background: white;
     margin-bottom: 30px;
 }

 .blog-travel-txt,
 .blog-clash-txt,
 .blog-nature-txt {
     padding: 20px 25px;
 }



 .tag {
     font-size: 1.1rem;
     background: #e5f9d8;
     color: #68a442;
     display: inline-block;
     padding: 5px 10px;
     text-transform: capitalize;
     font-weight: bold;
     margin-bottom: 25px;
 }

 .squiggle {
     margin-bottom: 10px;
 }

 .blog-info {
     position: relative;
     margin-bottom: 15px;
 }

 .blog-title {
     font-size: 2rem;
     margin-bottom: 10px;
 }

 .blog-txt {
     font-size: 1.2rem;
     color: #576466;
     line-height: 1.6;
     margin-bottom: 30px;
 }

.date {
    font-size: 1.35rem;
    color: #586466;
    text-transform: capitalize;
    float: left;
    /* margin-bottom: 80px; */
}

.feedback {
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    /* margin-bottom: 80px; */
    /* position: relative; */
    /* bottom: 0; */
}

.feedback .fa:hover {
    color: black;
}
.feedback p {
    color: black;
    /* float: right; */
}

.feedback .comment {
    margin-right: 0;
}

/* MODEL START */

/* .overlay {
    background: 
} */

.blog-container {
    position: relative;
}
.blog-model {
    /* background: url(assets/home-vacation.jpg) center; */
    width: calc(50% - 7.5px);
    position: relative;
    margin-right: 15px;
    float: left;
    /* padding: 10px; */
    /* height: auto; */
    /* background-size: cover; */
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 9999; */
}

.blog-model-txt,
.blog-model-info {
    position: absolute;
    top: 35%;
    padding: 25px 30px;
    color: white;
    line-height: 1.6;
    /* margin-top: 68%; */
    /* margin-top: 45%; */
}

.blog-model-date p {
    color: #939393;
}

.blog-model-info {
    top: 73%;
    width: 100%;
}

.blog-model-info .feedback {
    position: static;
    float: right;
}

.blog-model-info .feedback p {
    color: white;
}

/* QUOTE START */

.blog-quote {
    /* float: right; */
    width: calc(50% - 7.5px);
    background: #68a442;
    /* height: 388px; */
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
    /* margin-top: 10px; */
    /* position: relative; */
}

.blog-quote-txt .tag{
    width: 40%;
    margin: 50px auto 10px auto;
    display: block;
    text-align: center;
}

.blog-quote-txt .blog-title {
    position: relative;
    color: white;
    padding: 20px;
    line-height: 1.6;
    margin-bottom: 23rpx;
    text-align: center;
}

.blog-quote .blog-info {
    bottom: -10%;
}

blockquote h2:before,
blockquote h2::after {
    content: "“";
    display: block;
    position: absolute;
    font-size: 4rem;
    top: 10%;
    left: 0;
    color: white;
    text-align: center;
    /* left: -39px; */
}

blockquote h2::after {
    content: "”";
    position: absolute;
    top: 70%;
    right: -90%;
}

.blog-quote-date,
.blog-quote-feedback p,
.blog-quote-feedback i {
    color: white;
    /* position: relative; */
    /* top: 6%; */
}

/* gotta make firefox look better. more percentages */

/* CLASH START */

.blog-clash {
    margin-top: 30px;
    padding-bottom: 30px;
    /* position: relative; */
}

.blog-clash-img {
    position: relative;
}

.play-button {
    width: 9%;
    top: 45%;
    left: 45%;
    position: absolute;

}
/* NATURE START */

.blog-nature {
    width: calc(50% - 7.5px);
    background: white;
    float: left;
    margin-right: 15px;
    /* min-height: 500px; */
}

.blog-nature-txt {
    padding: 20px 25px;
}


/* LINK START */

.blog-container2 {
    position: absolute; 
    /* background: red; */
    top: 0;
    /* bottom: 0; */
    right: 0;
    /* left: 0; */
    width: calc(50% - 7.5px);
    min-height: 100%;
    overflow: hidden;
    color: white;
    /* height: 100%; */
    /* float: right; */
}
.blog-link {
    width: 100%;
    /* height: 100%; */
    background : #369bf5;
    min-height: 225px;
    margin-bottom: 15px;
    padding: 35px 25px 15px 25px;
    /* height: 100%; */
    /* float: right; */
    /* position: absolute; */
    /* top: 0;
    right: 0; */
    /* height: 100%; */
    /* bottom: 0; */
}

.blog-link .blog-title {
    margin-bottom: 30px;

}

.blog-link .date,
.blog-link .like p,
.blog-link .comment p,
.blog-link .like i,
.blog-link .comment i {
    color: white;
}

.blog-music {
    width: 100%;
    /* min-height: auto; */
    height: 100%;
    /* position: absolute; */
    background: white;
    padding: 20px 25px;
    color: black;
    /* height: 50%; */
}

.blog-music .blog-info {
    margin-top: 12px;
}

.load-more {
    /* clear: both; */
    /* width: auto; */
    margin: 50px auto;
    width: 14%;
}

.load-more button {
    width: 100%;
    background : #68a442;
    color: white;
    font-size: 1.4rem;
    /* text-transform: capitalize; */
    padding: 10px 15px;
}

/* ASIDE START */
aside {
    visibility: visible;
    /* width: 23%;
    float: right; */
}

/*  */



/* FOOTER START */
/* .newsletter {
    position: relative;
} */

footer {
    position: relative;
}
.subscribe {
    width: 100%;
    background: white;
    position: absolute;
    bottom: -50px;
    padding: 50px 60px;
}

.subscribe h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 5px;
}

.subscribe p {
    font-size: 1.3rem;
    color: #576466;
    /* margin-bottom: 30px */
}
.subscribe-icon {
    float: left;
    margin-right: 15px;
}

.subscribe-icon {
    color: red;
    font-size: 3rem;

}
.subscribe-txt {
    float: left;
}

.subscribe-input {
    float: right;
    width: 44%;
    position: relative; 
}

.subscribe input {
    width: 80%;
    background: #f1f1f1;
    border: none;
    height: 50px;
    padding: 25px 35px;
    font-size: 1.5rem;
    /* position: relative; */
}

.subscribe button {
    min-height: 100%;
    width: 30%;
    right: 0;
    background: #ff4658;
    text-transform: capitalize;
    color: white;
    position: absolute;
    font-size: 1.5rem;
}


/* MAIN FOOTER */
.footer-title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.main-footer {
    background: #0b132d;
    color: white;
    padding: 80px 0;
}

.footer-column {
    float: left;
    /* width: 33%; */
}

.footer-bloggem {
    width: calc(60% - 100px);
    margin-right: 100px;
}

.footer-categories {
    width: 40%;
    text-transform: capitalize;
}

.footer-categories ul {
    width: 50%;
    float: left;
}

.footer-categories a:hover {
    font-style: italic;
    text-decoration: underline;
}

.footer-followus {
    float: left;
    width: 26%;
    /* text-align: left; */
}

.social {
    /* display: inline-block; */
    /* width: 33.33%; */
    text-align: center;
    float: left;
    /* margin-right: 10px; */
    width: calc(33.33% - 3%);
    /* min-width:  */
    /* height: 100%; */
    /* float: left; */
    /* min-height: 100%; */
    /* height: auto; */
}

.icon {
    /* float: left; */
    background: #121b37;
    padding: 30% 0px;
    font-size: 2rem;
    color: red;
    width: 100%;
    /* width: calc(33.33% - ((10px * 2) / 3)); */
}

.icon:hover {
    background: white;
}

.icon-top {
    margin-bottom: 10px;
    width: 100%;
}

.icon-top div:not(.rss),
.icon-bottom div:not(.linkedin) {
    margin-right: 4%;
}
.footer-txt {
    font-size: 1.2rem;
    color: #a0a3ad;
    line-height: 2;
}

.copyright {
    margin-top: 80px;
    color: #a0a3ad;
    font-size: 1.2rem;
}

.copyright p {
    /* color: #a0a3ad; */
}
/* .twitter-icon {
    display: inline-block;
}
.twitter {
    background: white;
    padding: 9px;
    font-size: 3rem;
    color: red;
} */

/* .post {
    display: flex;
} */