/* HOMEPAGE */
/* HOME header */

html {
    font-size: 10px;
}

a {
    display: block;
    text-decoration: none;
}

aside {
    width: 23%;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

::-webkit-input-placeholder {
   font-size: 1.3rem;
   font-family: 'Dosis', serif;
   text-transform: capitalize;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

:-ms-input-placeholder {
      font-size: 1.3rem;
      font-family: 'Dosis', serif;
      text-transform: capitalize;
}

.domine {
    font-family: 'Domine', serif;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    background: #f1f1f1;
    /* width: 1440px; */
}

header {
    text-align: center;
    line-height: 1.5;
    /* background: lightgrey; */
    padding: 10px 0;
}

.main-header h2 {
    width: calc(26% - 40px);
    float: left;
    /* margin: 0 80px 0 0; */
    text-transform: capitalize;
    font-size: 3.4rem;
}

.main-header nav {
    width: calc(44%);
    float: left;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin: 0 40px 0 20px;
    /* text-align: center; */
    /* margin: 10px; */
}

.main-header ul li {
    float: left;
    /* margin: 0 8px; */
    text-align: center;
    width: calc((100% / 6) - 2px);
    margin: 15px 1px 0 1px;
    /* margin-top: 15px; */
}

.main-header ul li:hover {
    color: #ff4658;
}

.search {
    width: calc(30% - 20px);
    float: right;
    margin-top: 5px;
    /* object-fit: cover; */
    /* clear: both; */
    /* padding: 0; */
    /* margin: 0 0 0 80px; */
}

.search input {
    float: left;
    font-size: 1.3rem;
    padding: 10px 20px;
    width: 80%;
    /* margin: 0; */
}

.search::-moz-placeholder,
.search::-webkit-input-placeholder {
    font-family: 'Dosis', sans-serif;
}

.search button {
    float: left;
    width: 20%;
    min-height: 39px;
    background: #ff4658;
    cursor: pointer;
    /* padding: 5px; */
    /* object-fit: cover; */
}

.fa-search {
    font-size: 1.5rem;
    color: white;
}


/* MAIN START */

 /* HOME HERO*/
 .hero {
     background: url(assets/home-hero.jpg) top no-repeat;
     background-size: cover;
     width: 100%; 
     height: 450px;
     margin-bottom: 80px;

 }

 .hero h3 {
    font-size: 1.3rem;
    color: #f7e41e;
    text-transform: uppercase;
    float: left;
    margin: 8px 30px 20px 0;
 }
 
 .hero h1 {
    font-size: 2.7rem;
    width: 60%;
    color: white;
    clear:both
     /* text-transform: capitalize; */
 }

 .hero-txt {
     position: relative;
     top: 45%;
 }

 .fa-angle-left,
 .fa-angle-right {
     display: block;
     float: left;
     font-size: 2.7rem;
     color: white;
     margin-right: 5px;
 }

 .fa-angle-left:hover,
 .fa-angle-right:hover {
     color: grey;
 }
 .hero-feedback {
     position: relative;
     top: 52%;
 }

 .like,
 .comment {
     float: left;
     margin-right: 30px;
     font-size: 1.3rem;
     color: white;
 }

 .fa-heart-o,
 .fa-commenting-o {
     margin-right: 5px;
     color: #ff4658;
     font-size: 1.4rem;
 }

 .fa-heart-o:hover,
 .fa-commenting-o:hover {
     color: white;
 }
 /* HERO FINISHES */

.recent {
    width: 27%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin: 50px auto;
}

.recent p a {
    float: left;
}

.recent a:hover {
    color: #b0b0b0;
}

.recent .squiggle {
    position: absolute;
    left: 16%;
    bottom: -30px;
}

.squiggle {
    width: 43px;
}
.recent p:last-child {
    float: right;
}

 img {
     width: 100%;
     display: block;
 } 
 
 .blog {
     width: 74%;
     float: left;
 }

 .blog-travel,
 .blog-clash,
 .blog-nature {
     background: white;
     margin-bottom: 30px;
 }

 .blog-travel-txt,
 .blog-clash-txt,
 .blog-nature-txt {
     padding: 20px 25px;
 }



 .tag {
     font-size: 1.1rem;
     background: #e5f9d8;
     color: #68a442;
     display: inline-block;
     padding: 5px 10px;
     text-transform: capitalize;
     font-weight: bold;
     margin-bottom: 25px;
 }

 .tag:hover {
     background: #68a442;
     color: white;
 }

 .squiggle {
     margin-bottom: 10px;
 }

 .blog-info {
     position: relative;
     margin-bottom: 15px;
 }

 .blog-title {
     font-size: 2rem;
     margin-bottom: 10px;
 }

 .blog-txt {
     font-size: 1.2rem;
     color: #576466;
     line-height: 1.6;
     margin-bottom: 30px;
 }

.date {
    font-size: 1.35rem;
    color: #586466;
    text-transform: capitalize;
    float: left;
    /* margin-bottom: 80px; */
}

.feedback {
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    /* margin-bottom: 80px; */
    /* position: relative; */
    /* bottom: 0; */
}

.feedback .fa:hover {
    color: black;
}
.feedback p {
    color: black;
    /* float: right; */
}

.feedback .comment {
    margin-right: 0;
}

/* MODEL START */

/* .overlay {
    background: 
} */

.blog-container {
    position: relative;
}
.blog-model {
    width: calc(50% - 7.5px);
    position: relative;
    margin-right: 15px;
    float: left;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 9999; */
}

.blog-model-txt {
    position: absolute;
    top: 35%;
    padding: 25px 30px;
    color: white;
    line-height: 1.6;
}

.blog-model-txt .blog-title {
    margin-bottom: 40px;
}

.blog-model-date p {
    color: #939393;
}

.blog-model-info {
    top: 73%;
    width: 100%;
}

.blog-model-info .feedback {
    position: static;
    float: right;
}

.blog-model-info .feedback p {
    color: white;
}

/* QUOTE START */

.blog-quote {
    width: calc(50% - 7.5px);
    background: #68a442;
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
}

.blog-quote-txt {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px 25px;
    top: 12%;
}

.blog-quote-txt .tag{
    width: 40%;
    margin: 0 auto 30px auto;
    display: block;
    text-align: center;
}

.blog-quote-txt .blog-title {
    line-height: 1.7;
    text-align: center;
    color: white;
    margin: 40px 0 70px 0;
}

blockquote h2:before,
blockquote h2::after {
    content: "“";
    display: block;
    position: absolute;
    font-size: 4rem;
    top: 10%;
    left: 0;
    color: white;
    text-align: center;
}

blockquote h2::after {
    content: "”";
    position: absolute;
    top: 60%;
    right: -90%;
}

.blog-quote-date,
.blog-quote-feedback p,
.blog-quote-feedback i {
    color: white;
}


/* CLASH START */

.blog-clash {
    margin-top: 30px;
    padding-bottom: 30px;
}

.blog-clash-img {
    position: relative;
}

.play-button {
    width: 9%;
    top: 45%;
    left: 45%;
    position: absolute;

}
/* NATURE START */

.blog-nature {
    width: calc(50% - 7.5px);
    background: white;
    float: left;
    margin-right: 15px;
}

.blog-nature-txt {
    padding: 20px 25px;
}


/* LINK START */

.blog-container2 {
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(50% - 7.5px);
    overflow: hidden;
    color: white;
}

.blog-link {
    width: 100%;
    background : #369bf5;
    min-height: 225px;
    margin-bottom: 15px;
    padding: 35px 25px 15px 25px;
}

.blog-link .blog-title {
    margin-bottom: 30px;

}

.blog-link .date,
.blog-link .like p,
.blog-link .comment p,
.blog-link .like i,
.blog-link .comment i {
    color: white;
}

.blog-music {
    width: 100%;
    background: white;
    padding: 20px 25px;
    color: black;
}

.blog-music .blog-info {
    margin-top: 12px;
}

.load-more {
    margin: 50px auto;
    width: 14%;
}

.load-more button {
    width: 100%;
    background : #68a442;
    color: white;
    font-size: 1.4rem;
    padding: 10px 15px;
    cursor: pointer;
}

/* ASIDE START */
.secondary {
    width: 24%;
    float: right;
}

.secondary-manesh {
    margin-bottom: 20px;
}

.secondary-manesh-txt {
    background: white;
    padding: 30px 25px;
}
.secondary-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    /* text-align: center; */
    font-weight: bold;
    margin-bottom: 10px;
}

.secondary-txt {
    line-height: 1.6 ;
    margin-bottom: 20px;
}

.border {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    margin: 30px 0;
}

.border-contact {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 80px;
}

.secondary-social li {
    float: left;
    width: 20%;

    font-size: 2rem;
    color: #767f80;
    text-align: center;
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
    /* height: 100%; */
}

.secondary-social li:hover {
    color: #ff4658;
}

.secondary-social {
    padding-bottom: 20px;
}

/* popular posts */

.secondary-popular {
    background: white;
    padding: 30px 25px;
    margin-bottom: 20px;
}

.popular-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.secondary-container {
    position: relative;
    /* margin-top: 10px 0; */
}

.secondary .blog-info {
    margin-bottom: 0;
}

.secondary-container .tag{
    position: absolute;
    top: 0;
    left: 0;
}

.secondary-title {
    font-size: 1.3rem;
    line-height: 1.6;
}

.secondary .date, 
.secondary .comment,
.secondary .like {
    font-size: 1rem;
    margin-right: 5px;
} 
/* FIRST AD*/

.secondary-ad {
    margin-bottom: 20px;
}

/* POPTAG */

.poptag {
    background: white;
    padding: 30px 25px;
    margin-bottom: 20px;
}

.tag-container {
    width: 95%;
    margin: 0 auto;
}

.poptag h3 {
    margin: 0 7px 7px 0;
    padding: 7px 12px;
    text-align: center;
    font-size: 1.3rem;
}

  /* AD SECTION2 */

  .ad {
      width: calc(50% - 5px);
      float: left;
      margin: 0 10px 10px 0;
  }

  .ad2,
  .ad4 {
      margin-right: 0;
  }


/* FOOTER START */

footer {
    position: relative;
    margin-top: 140px;
}

.subscribe {
    width: 100%;
    background: white;
    position: absolute;
    bottom: -50px;
    padding: 50px 60px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .subscribe {
        padding: 40px 30px !important;
        /* color: red; */
    }
}
/* for some reason chrome formatted the subscribe to newsletter sectionn differently */

.subscribe h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 5px;
}

.subscribe p {
    font-size: 1.3rem;
    color: #576466;
}
.subscribe-icon {
    float: left;
    margin-right: 15px;
    color: #ff4658;
    font-size: 3rem;
}

.subscribe-txt {
    float: left;
}

.subscribe-input {
    float: right;
    width: 44%;
    position: relative; 
}

.subscribe input {
    width: 80%;
    background: #f1f1f1;
    border: none;
    height: 50px;
    padding: 25px 35px;
    font-size: 1.5rem;
}

.subscribe button {
    min-height: 100%;
    width: 30%;
    right: 0;
    background: #ff4658;
    text-transform: capitalize;
    color: white;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
}


/* MAIN FOOTER */
.footer-title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.main-footer {
    background: #0b132d;
    color: white;
    padding: 80px 0;
}

.footer-column {
    float: left;
}

.footer-bloggem {
    width: calc(60% - 100px);
    margin-right: 100px;
}

.footer-categories {
    width: 40%;
    text-transform: capitalize;
}

.footer-categories ul {
    width: 50%;
    float: left;
}

.footer-categories a:hover {
    font-style: italic;
    text-decoration: underline;
}

.footer-followus {
    float: left;
    width: 26%;
}

.social {
    text-align: center;
    float: left;
    width: calc(33.33% - 3%);
}

.icon {
    background: #121b37;
    padding: 30% 0px;
    font-size: 2rem;
    color: #ff4658;
    width: 100%;
}

.icon:hover {
    background: white;
}

.icon-top {
    margin-bottom: 10px;
    width: 100%;
}

.icon-top div:not(.rss),
.icon-bottom div:not(.linkedin) {
    margin-right: 4%;
}
.footer-txt {
    font-size: 1.2rem;
    color: #a0a3ad;
    line-height: 2;
}

.copyright {
    margin-top: 80px;
    color: #a0a3ad;
    font-size: 1.2rem;
}

/* FORMS */

form {
    background: white;
    box-shadow: 1px 1px 20px lightgrey;
    padding: 93px 100px;
}

form h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
}

form h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
} 

 form input {
     width: 100%;
     height: 40px;
     margin-bottom: 40px;
     padding: 15px;
     background: #f0f0f0;
     border: none;
 }


 form textarea {
     width: 100%;
     margin-bottom: 45px;
     padding: 15px;
 }

 form .squiggle {
     margin-bottom: 34px;
 }

.left-section {
    float: left;
    width: 71%;
}

.form-left {
    float: left;
    width: calc(50% - 15px);
}

.form-right {
    float: right;
    width: calc(50% - 15px);
}

.message {
    clear: both;
}

.right-section {
    width: 21%;
    float: right;
}

.right-section button{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.right-section div {
    width: 25%;
    float: left;
}

.right-section .contact-social {
    width: 75%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.right-section .fa {
    font-size: 2rem;
    padding-right: 5px;
    margin-right: 10px;
    color: white;
}

.right-section p {
    min-height: 100%;
    color: white;
    
}

.facebook {
    background: #4c70ba;
}

.twitter {
    background: #46c1fa;
}

.google-plus {
    background : #e04048;
}

form .submit {
    clear: both;
    float: left;
    background: #68a442;
    color: white;
    padding: 15px 35px;
    font-size: 1.7rem;
    border: none;
}

/* ABOUT PAGE */

.about {
    background: white;
}

.about-txt {
    padding: 45px;
}

.about-img  {
    margin-bottom: 80px;
}

.about h1, 
.author h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #576466;
}

.about .squiggle {
    margin-bottom: 40px;
}

.p-left {
    float: left;
    width: 48%;
}

.p-right {
    float: right;
    width: 48%;
}

.about-social {
    margin-top: 30px;
}

.about-social li {
    float: left;
    margin-right: 10px;
    font-size: 2rem;
}

.about-social .fa-facebook-square,
.author-social .fa-facebook-square {
    color: #4c70ba;
}

.about-social .fa-twitter-square,
.author-social .fa-twitter-square {
    color: #26bdff
}

.about-social .fa-google-plus-square {
    color: #e13e46;
}

.about-social .fa-linkedin-square,
.author-social .fa-linkedin-square {
    color: #0089d2;
}

.author h1 {
    text-align: center;
}

.author .squiggle {
    margin: 0 auto 40px auto;

}

.author-container {
    width: calc(33.33% - 20px);
    float: left;
}

.author-marg {
    margin: auto 30px;
}

.author-list div:nth-child(3n) {
    margin-right: 0;
}

.author-txt {
    background: white;
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 25px 35px;
    text-align: center;
}

.author-social {
    width: 45%;
    margin: 0 auto;
}

.author-social li {
    float: left; 
    margin-right: 10px;
    margin-top: 23px;
    /* width: auto;  */
}

.author-social li.linkedin {
    margin-right: 0;
}


.top {
    margin-bottom: 30px;
}